<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style type="text/css">
        .pagelist{

        }
        .pagelist a{
            padding:3px 8px;
            text-decoration: none;
            margin:0px 3px;
            border:1px solid #ccc;
        }
        .pagelist a:hover{
            color: red;
            background-color:#99cc00;
        }
        .pagelist span{
            padding:3px 8px;
        }
    </style>
</head>
<body>
<a href="?p=Home&c=Student">学生管理</a> |
<a href="?p=Home&c=News">新闻管理</a>
<hr>

<div style="text-align:center;padding-bottom: 10px;">
    <h2>学生信息管理中心</h2>
    <a href="?p=Home&c=Student&a=add">添加学生</a>
    共有 <font color="red">16</font>个学生信息

</div>

<table width="600" border="1" align="center" rules="all" cellpadding="5">
    <tr bgcolor="#ccc">
        <th>编号</th>
        <th>姓名</th>
        <th>性别</th>
        <th>年龄</th>
        <th>学历</th>
        <th>工资</th>
        <th>奖金</th>
        <th>籍贯</th>
        <th>操作选项</th>

    </tr>
    <?php
    //循环二维数组
    foreach($arrs as $arr) {
        ?>
    <tr align="center">
        <td><?php echo $arr['id'] ?></td>
        <td><?php echo $arr['name'] ?></td>
        <td><?php echo $arr['sex'] ?></td>
        <td><?php echo $arr['age'] ?></td>
        <td><?php echo $arr['edu'] ?></td>
        <td><?php echo $arr['salary'] ?></td>
        <td><?php echo $arr['bonus'] ?></td>
        <td><?php echo $arr['city'] ?></td>
        <td>
            <a href="?c=Student&a=edit&id=<?php echo $arr['id'] ?>">修改</a>
            <a href="javascript:void(0)" onclick="confirmDel(<?php echo $arr['id'] ?>)">删除</a>

        </td>
    </tr>

    <?php
    }
    ?>


</table>

</body>
<script type="text/javascript">

    //删除函数
    function confirmDel(id) {
        //询问是否删除
        if(window.confirm("是否确定删除?"))
        {
            //跳转地址：ac是action的简称，代表用户动作
            //? 之前省略了当前控制器文件名StudentController.php

            //改版之后路由地址就变了
            window.location.href="?p=Home&c=Student&a=delete&id="+id;
        }
    }

</script>
</html>